@font-face{
  font-family: 'BurbankBigCondensed-Black';
  src: local('BurbankBigCondensed-Black'), url('./static/fonts/BurbankBigCondensed-Black.woff') format('woff');
}
.fortnite {
  font-family: 'BurbankBigCondensed-Black' !important;
}
.m1 {
  margin: 1em;
}

.MuiLinearProgress-root {
  height: 16px !important;
}

.icon {
  max-width: 32px;
}

h4.MuiTypography-root.fortnite.MuiTypography-h4{
  margin-top: 1em;
}